font-family: 'Raleway', sans-serif;

body {
  font-family: Raleway;
}

/*---NAVBAR-----------------------------------------------*/
#logo {
  width: 2em;
  height: auto;
}
#navbar {
  color: white;
}

#noteright {
  color: white;
}

/*---HOME-------------------------------------------------*/
#home {
  background-image: url(../IMG/payments-banner-graphic.png);
  width: auto;
  height: 39em;
  font-family: Raleway;
}
#titre {
  margin-top: 10em;
}
#home h1 {
  color: white;
}
#home h4 {
  color: white;
}
#home button {
  color: #8282b3;
}
#bulle {
  color: #8080be;
  position: fixed;
  margin-top: 8em;
  z-index: 1;
  border-radius: 50%;
}
.fa-comments {
  text-shadow: 3px 3px 16px rgb(78, 77, 78);
}
/*---AVANTAGES--------------------------------------------*/

#payments {
  width: auto;
  height: 21em;
  padding-top: 5.5em;
  font-family: Raleway;
}
#border {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.img-payments {
  width: 18%;
}
#dollar {
  background-color: #f6f9fb;
  border-top: 1px solid #d2d0ca;
  width: auto;
  height: 21em;
  font-family: Raleway;
  padding-top: 3.5em;
}
#textdollar {
  font-family: Raleway;
}
#dollar h1 {
  font-size: 70px;
  color: #8080be;
}
#credit {
  background-color: #4c535c;
  color: white;
  letter-spacing: 0.05em;
  padding-top: 1.5em;
  padding-bottom: 1.5em ;
  font-family: Raleway;
}
/*---CONTENU-----------------------------------------------*/
#text {
  letter-spacing: 0.05em;
  padding-top: 9em;
  font-family: Raleway;
}
.italic {
  font-style: italic;
}
#img {
  margin-left: 3em;
  margin-right: 3em;
  width: 40vw;
  transform: translateY(19%);
  border-radius: 20px;
}

#imgblue {
  background-color: #7cd5ef;
  height: auto;
  overflow: hidden;
}
#imgviolet {
  background-color: #8080be;
  overflow: hidden;
}
/*---ACCOUNT-----------------------------------------------*/
#account {
  padding-top: 5em;
  padding-bottom: 5em;
  border-top: 1px solid #d2d0ca;
  font-family: Raleway;
}
.free {
  font-weight: bold;
  text-transform: uppercase;
}
.account {
  background-color: #00a57c;
  color: white;
  text-transform: uppercase;
  padding: 0.5em 1em;
  border-radius: 5px;
}
/*---FOOTER-----------------------------------------------*/
#footer {
  background-color: #242629;
  color: #aaaaaa;
  padding-top: 5em;
  padding-bottom: 5em;
  font-family: Raleway;
}
#footer span {
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: Raleway;
}
#legal {
  color: #aaaaaa;
  font-size: xx-small;
  padding-top: 3em;
  font-family: Raleway;
}
#legal a {
    color: #aaaaaa;
    font-size: x-small;
    font-family: Raleway;
}
.contactIcon .fa{
  margin-right: 5%;
}
#badge {
  padding-top: 2em;
}
